<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign-up</title>

    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Sign up</h1>

    <form method="post" action="/user">
      <label for="">Full name</label>
      <input type="text" name="name" placeholder="Enter Your Name" required />
      <label for="">Email</label>
      <input type="email" name="email" placeholder="Enter Email Id" required />
      <label for="">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Enter password"
        required
      />
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
